.banner {
    background-color: rgb(224, 244, 247);
    height: 200px;
}

@media (max-width: 480px) {
    .banner {
        height: 78px !important;
    }
}

@media (max-width: 1024px) {
    .banner {
        height: 100px !important;
    }
}

@media (max-width: 1600px) {
    .banner {
        height: 120px !important;
    }
}

.item-responsive {
    font-size: 2rem;
}

@media (max-width: 480px) {
    .item-responsive {
        font-size: 1rem;
    }
}
